.trash_icon_hide .trash_icon {
    transform: translateX(75%);
    transition: all 0.15s;
    opacity: 0;
}

.trash_icon_hide:hover .trash_icon, .trash_icon_hide:active .trash_icon {
    cursor: pointer;
    transform: translateX(0);
    opacity: 1;
}
